Repository cuttle-cards/cuttle, pull requests merged in 2023-09, with the labels that each got.

#493 [DexEx] #374 reorganize status and results
  api/controllers/StatsController.js
  api/controllers/game/concede.js
  api/controllers/game/leave-lobby.js
  api/controllers/game/pass.js
  api/controllers/game/ready.js
  api/controllers/game/spectate.js
  api/controllers/game/stalemate.js
  api/controllers/game/subscribe.js
  api/helpers/ find-spectatable-games.js
  api/helpers/add-game-to-match.js
  api/helpers/is-game-full.js
  api/hooks/customGameHook/index.js
  api/models/Game.js
  api/services/gameService.js
  package.json
  src/components/GameListItem.vue
  src/store/modules/gameList.js
  src/views/HomeView.vue
  tests/e2e/fixtures/statsFixtures.js
  tests/e2e/specs/in-game/gameOver.spec.js
  tests/e2e/specs/out-of-game/home.spec.js
  tests/e2e/specs/out-of-game/stats.spec.js
  utils/GameStatus.json
Labels: major-version, backend, frontend

#545 Add bump scripts and a fun ascii image
  .husky/pre-push
  docs/CONTRIBUTING.md
  package-lock.json
  package.json
  tools/msg-bump-version.js
Labels: dev experience, patch-version

#587 feat: implement initial pass at major version bump action
  .github/workflows/bump-version.yml
Labels: version-major

#594 Change step name to 'push please' just to run pr with label
  .github/workflows/bump-version.yml
Labels: version-major

#595 Configure git for pushing the version bump
  .github/workflows/bump-version.yml
Labels: version-major

#596 Setup minor and patch version bumps
  .github/workflows/bump-version.yml
Labels: version-minor

#597 fix indentation
  .github/workflows/bump-version.yml
Labels: version-patch

#586 set the colors of the selected bottom nav elements to newPrimary
  package-lock.json
  package.json
  src/components/TheFooter.vue
Labels: version-minor
