Repository cuttle-cards/cuttle, pull requests merged in 2024-09, with the labels that each got.

#1014 fix(lock-game): conditionally populate gamestates based on env
  api/helpers/lock-game.js
Labels: bug, version-patch, backend

#1015 fix(lock-game): remove conditional populate of gamestates
  api/helpers/lock-game.js
Labels: requires migration, dev experience, version-patch, backend

#1020 Update en.json
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
Labels: bug, version-patch, frontend, internationalization

#1003 DevEx #998 E2E gamestate api test skipper
  .github/workflows/test-e2e-gamestate.yml
  api/controllers/game/load-fixture-gamestate.js
  api/helpers/gamestate/deal-cards.js
  config/policies.js
  config/routes.js
  cypress.config.js
  package.json
  src/stores/game.js
  tests/e2e/fixtures/cards.js
  tests/e2e/specs/in-game/basicMoves.spec.js
  tests/e2e/specs/in-game/game-over/rankedMatches.spec.js
  tests/e2e/specs/in-game/game-over/rematch.spec.js
  tests/e2e/specs/in-game/game-over/winConditions.spec.js
  tests/e2e/specs/in-game/layout.spec.js
  tests/e2e/specs/in-game/one-offs/0_countering.spec.js
  tests/e2e/specs/in-game/one-offs/1_aces.spec.js
  tests/e2e/specs/in-game/one-offs/2_twos-destroy-target-royal.spec.js
  tests/e2e/specs/in-game/one-offs/3_threes.spec.js
  tests/e2e/specs/in-game/one-offs/4_fours.spec.js
  tests/e2e/specs/in-game/one-offs/5_fives.spec.js
  tests/e2e/specs/in-game/one-offs/6_sixes.spec.js
  tests/e2e/specs/in-game/one-offs/7_sevens/end_of_deck_sevens.spec.js
  tests/e2e/specs/in-game/one-offs/7_sevens/opponent_sevens.spec.js
  tests/e2e/specs/in-game/one-offs/7_sevens/player_sevens.spec.js
  tests/e2e/specs/in-game/one-offs/9_nines.spec.js
  tests/e2e/specs/in-game/one-offs/targeting_cleanup.spec.js
  tests/e2e/specs/in-game/reconnecting.spec.js
  tests/e2e/specs/in-game/socket.spec.js
  tests/e2e/specs/in-game/spectating.spec.js
  tests/e2e/specs/out-of-game/home.spec.js
  tests/e2e/specs/out-of-game/lobby.spec.js
  tests/e2e/support/commands.js
  tests/e2e/support/helpers.js
  utils/MoveType.json
Labels: dev experience, version-minor, backend, testing automation

#990 Feat #946 Playing Points
  api/controllers/game/move.js
  api/helpers/gamestate/moves/points/execute.js
  api/helpers/gamestate/moves/points/validate.js
  api/policies/hasValidMoveBody.js
  config/policies.js
  config/routes.js
  src/stores/game.js
  tests/e2e/specs/in-game/basicMoves.spec.js
  tests/e2e/support/commands.js
Labels: version-minor, backend, game state api

#1024 Refactor/change move helper inputs
  api/controllers/game/move.js
  api/helpers/gamestate/moves/points/validate.js
Labels: dev experience, version-patch, backend, game state api

#1026 Chore/update movetype references
  src/stores/game.js
  tests/e2e/support/commands.js
  utils/MoveType.json
Labels: version-patch, game state api

#1021 Feature issue #1009: Add text with rules for 3 and 4 player Cuttle
  src/routes/rules/RulesView.vue
  src/routes/rules/components/MultiplayerRuleBlock.vue
  src/routes/rules/data/rulesData.js
Labels: version-patch, frontend

#1030 fix(moves/points/execute): set playedBy in returned result
  api/helpers/gamestate/moves/points/execute.js
Labels: bug, version-patch, backend, game state api

#1032 fix: set phase in execute helpers
  api/helpers/gamestate/moves/draw/execute.js
  api/helpers/gamestate/moves/points/execute.js
Labels: version-patch, backend, game state api

#1035 feat(hasValidMoveBody): validate card id is in DeckIds
  api/policies/hasValidMoveBody.js
Labels: version-patch, backend, game state api

#1018 vue warning about `max-width` prop type fixed
  src/components/StatsScoringDialog.vue
  src/routes/game/components/dialogs/components/RulesDialog.vue
Labels: bug, version-patch, frontend

#1039 VSkeletonLoader max width was fixed in the HomeView Component. Added …
  src/routes/home/HomeView.vue
Labels: bug, dev experience, version-patch, frontend

#1038 Feat/one off gamestate
  api/helpers/gamestate/get-log.js
  api/helpers/gamestate/moves/draw/execute.js
  api/helpers/gamestate/moves/one-off/execute.js
  api/helpers/gamestate/moves/one-off/validate.js
  api/helpers/gamestate/moves/points/execute.js
  api/helpers/gamestate/moves/points/validate.js
  api/helpers/gamestate/publish-game-state.js
  api/helpers/gamestate/unpack-gamestate.js
  api/helpers/gamestate/validate-gamestate.js
  api/models/GameStateRow.js
  api/policies/hasValidMoveBody.js
  src/stores/game.js
  tests/e2e/support/commands.js
  tests/unit/fixtures/gameStates/points.js
  tests/unit/fixtures/gameStates/resolveNine.js
  tests/unit/fixtures/gameStates/resolveThree.js
  utils/MoveType.json
Labels: requires migration, version-minor, backend, game state api

#1041 Feat/one off error reconciliation
  api/controllers/game/resolve-five.js
  api/controllers/game/seven/face-card.js
  api/controllers/game/seven/jack.js
  api/controllers/game/seven/points.js
  api/controllers/game/seven/scuttle.js
  api/controllers/game/seven/targeted-one-off.js
  api/controllers/game/seven/untargeted-one-off.js
  api/controllers/game/untargeted-one-off.js
  api/helpers/gamestate/moves/one-off/validate.js
  api/policies/hasCardId.js
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  tests/e2e/fixtures/snackbarError.js
  tests/e2e/specs/in-game/one-offs/3_threes.spec.js
  tests/e2e/specs/in-game/one-offs/4_fours.spec.js
  tests/e2e/specs/in-game/one-offs/5_fives.spec.js
  tests/e2e/specs/in-game/one-offs/7_sevens/player_sevens.spec.js
Labels: version-patch, backend, internationalization

#1044 test(winConditions.spec): add it('Shows when player wins game with 21…
  tests/e2e/specs/in-game/game-over/winConditions.spec.js
Labels: version-patch, testing automation, game state api

#1042 feat: facecard in gamestate api
  api/helpers/gamestate/moves/face-card/execute.js
  api/helpers/gamestate/moves/face-card/validate.js
  api/policies/hasValidMoveBody.js
  src/routes/rules/components/MultiplayerRuleBlock.vue
  tests/e2e/specs/in-game/basicMoves.spec.js
  tests/e2e/specs/in-game/game-over/winConditions.spec.js
Labels: version-minor, backend, game state api

#1047 Feat/resolve gamestate
  api/helpers/gamestate/moves/draw/execute.js
  api/helpers/gamestate/moves/draw/validate.js
  api/helpers/gamestate/moves/resolve/ace.js
  api/helpers/gamestate/moves/resolve/execute.js
  api/helpers/gamestate/moves/resolve/validate.js
  api/policies/hasValidMoveBody.js
  tests/e2e/specs/in-game/one-offs/1_aces.spec.js
Labels: version-minor, backend, game state api

#1048 Feat/counter gamestate
  api/helpers/gamestate/get-log.js
  api/helpers/gamestate/moves/counter/execute.js
  api/helpers/gamestate/moves/counter/validate.js
  api/helpers/gamestate/moves/draw/validate.js
  api/helpers/gamestate/moves/resolve/execute.js
  api/helpers/gamestate/moves/resolve/validate.js
  api/helpers/gamestate/your-turn-to-counter.js
  api/policies/hasValidMoveBody.js
  src/plugins/sockets/inGameEvents.js
  tests/e2e/specs/in-game/one-offs/0_countering.spec.js
  tests/e2e/support/commands.js
  types/SocketEvent.js
Labels: version-minor, backend, game state api

#1051 chore: rename cardPlayed to playedCard across validate() helpers
  api/helpers/gamestate/moves/counter/validate.js
  api/helpers/gamestate/moves/face-card/validate.js
  api/helpers/gamestate/moves/one-off/validate.js
  api/helpers/gamestate/moves/points/validate.js
Labels: dev experience, version-patch, backend, game state api

#1046 scuttling in gamestate
  api/helpers/gamestate/moves/scuttle/execute.js
  api/helpers/gamestate/moves/scuttle/validate.js
  api/helpers/gamestate/publish-game-state.js
  api/policies/hasValidMoveBody.js
  tests/e2e/specs/in-game/basicMoves.spec.js
  tests/unit/fixtures/gameStates/points.js
  tests/unit/fixtures/gameStates/resolveNine.js
  tests/unit/fixtures/gameStates/resolveThree.js
Labels: version-minor, backend, game state api

#1052 Feat/resolve seven gamestate
  api/helpers/gamestate/moves/resolve/execute.js
  api/helpers/gamestate/moves/seven-points/execute.js
  api/helpers/gamestate/moves/seven-points/validate.js
  api/helpers/gamestate/publish-game-state.js
  api/policies/hasValidMoveBody.js
  tests/e2e/specs/in-game/one-offs/7_sevens/opponent_sevens.spec.js
  tests/e2e/specs/in-game/one-offs/7_sevens/player_sevens.spec.js
  tests/unit/fixtures/gameStates/resolveNine.js
Labels: version-minor, backend, game state api

#1056 Refactor FiveChange to AnnouncementDialog
  src/routes/home/HomeView.vue
  src/routes/home/components/FiveChangeDialog.vue
  src/routes/home/components/announcementDialog/AnnouncementDialog.vue
  src/routes/home/components/announcementDialog/data/announcementData.js
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  tests/e2e/specs/in-game/game-over/rematch.spec.js
  tests/e2e/specs/in-game/spectating.spec.js
  tests/e2e/specs/out-of-game/authentication.spec.js
  tests/e2e/specs/out-of-game/home.spec.js
  tests/e2e/specs/out-of-game/lobby.spec.js
  tests/e2e/specs/out-of-game/localization.spec.js
  tests/e2e/specs/out-of-game/navigation.spec.js
  tests/e2e/specs/out-of-game/rules.spec.js
  tests/e2e/specs/out-of-game/stats.spec.js
Labels: dev experience, version-patch, frontend

#1058 Fix/five announcement styles
  src/routes/home/components/announcementDialog/AnnouncementDialog.vue
  src/routes/home/components/announcementDialog/data/announcementData.js
Labels: bug, version-patch, frontend
